html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}
body {
  background-image: url("../images/bg.jpg");
}
.navlinks {
  width: 100%;
  margin-bottom: 12px;
}
.navlinks > .button {
  margin: 0 3px;
  background-color: #a63634;
  font-size: 75%;
  border-bottom: 3px solid rgba(126, 125, 123);
  width: 100%;
}
.navlinks > .button > a {
  color: #ffffff;
  text-decoration: none;
}
.socialnav {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.socialnav > li > a {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.sub {
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
  padding-top: 6px;
}
.facebook {
  background-color: #485893;
  color: #ffffff;
  border-bottom: 3px solid #7e7d7b;
  padding: 0;
  margin-left: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.twitch {
  background-color: #583e94;
  color: #ffffff;
  border-bottom: 3px solid #7e7d7b;
  padding: 0;
  margin-left: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.twitter {
  background-color: #4d9feb;
  color: #ffffff;
  border-bottom: 3px solid #7e7d7b;
  padding: 0;
  margin-left: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.youtube {
  background-color: #ea3323;
  color: #ffffff;
  border-bottom: 3px solid #7e7d7b;
  padding: 0;
  margin-left: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.row.g-2 {
  border-color: black;
}
.row.image-compilation {
  width: 100%;
  height: 15rem;
  position: relative;
  border: 5px solid #ffffff;
  object-fit: cover;
  overflow: hidden;
  background-image: url("../images/top-image.png");
  background-size: cover;
}
.grid {
  width: 100;
}
.row.image-compilation > img {
  position: absolute;
}
.logo-image {
  position: absolute;
  width: 50%;
  top: 20%;
}
.background-image {
  width: 100%;
  object-fit: cover;
  padding: 0;
}
.news-section {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}
.article {
  background-color: #fdfdfd;
  margin: 5px;
  border-bottom: 4px solid #817d7d;
  position: relative;
  padding: 20px;
}
.article > h2 {
  color: #353632;
}
.article > time {
  color: #a9a6a6;
}
.article > p {
  color: #5c5959;
}
.article > a {
  text-decoration: none;
  color: #a73534;
  font-weight: 600;
}
.row.skateboarders {
  width: 100%;
}
.col-6.lance {
  background-image: url("../images/sk8er-4.png");
  width: 48%;
  height: 200px;
  background-position: 100%;
  border: 5px solid #ffffff;
  margin-right: 7px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-family: "Permanent Marker", cursive;
}
.col-6.rodney {
  background-image: url("../images/sk8er-3.png");
  width: 48%;
  background-position: 20%;
  border: 5px solid #ffffff;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-family: "Permanent Marker", cursive;
}
.col.steve {
  background-image: url("../images/sk8er-1.png");
  width: 100%;
  height: 220px;
  background-position: -50px -100px;
  border: 5px solid #ffffff;
  margin-top: 5px;
  margin-right: 5px;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
}
.col-4.tommy {
  background-image: url("../images/sk8er-2.png");
  width: 32%;
  background-position: 85%;
  border: 5px solid #ffffff;
  margin-left: 5px;
  color: #ffffff;
  font-size: 30px;
  display: flex;
  align-items: center;
  font-family: "Permanent Marker", cursive;
}
.row.skateboards {
  background-color: #ffffff;
  height: 150px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.boards {
  transform: rotate(90deg);
  /* transform: translateY(-150%); */

  transform-origin: 30%;
  height: 60px;
}
.form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
.contact-us {
  background-color: #f1f1f1;
}
